@model classified_offering.Models.Participation

@{
    ViewBag.Title = "Delete participation";
}

<h2>Delete participation</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassifiedOffering.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassifiedOffering.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offerer.Pseudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offerer.Pseudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver.Pseudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver.Pseudo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
