@using classified_offering.Models
@model classified_offering.Models.ClassifiedOffering

@{bool isAdmin = ((User)Session["connectedUser"]).Role == 0;}
@{
    ViewBag.Title = "Classified offering details";
}

<h2>Classified offering details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.Pseudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Pseudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participations)
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Participations)
                {
                    <li>@Html.DisplayFor(modelItem => item.Offerer.Pseudo)
                        @if (isAdmin) {
                            <text> => </text>
                            @Html.DisplayFor(modelItem => item.Receiver.Pseudo)
                        }
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @if (!Model.isLocked)
    {
        @Html.ActionLink("Add participations", "Add", "Participations", new { id = Model.ID }, null)<text> |</text>
        @Html.ActionLink("Generate offerers", "Lock", new { id = Model.ID }) <text> |</text>
}
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
